$bodyBg: #f5f5f5;
$logoTextColor: black;
$menuTextColor: black;

$menuHoverBg: black;
$menuHovercolor: #f5f5f5;

$regularTextColor: rgb(61, 61, 61);

$mgCurrentPriceSize: 30px;
$mansoryTitleFontSize: 1.25rem;
$mansoryTitleFont: 'Lato', sans-serif;
$regularFontFamily: 'Lato', sans-serif;
$navBarFont: 'Architects Daughter', cursive;
