*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

img {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #da2626;
}

.text-success {
  color: #08c24f;
}

.text-info {
  color: #3097d1;
}

.full-width {
  width: 100%;
}

button {
  border: 2px solid black;
  background: white;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
  background: black;
  color: white;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.aside {
  position: relative;
  float: left;
  width: 220px;
}

.container {
  width: 80%;
  margin: auto;
}

.padding-0 {
  padding: 0px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .padding-0 {
    padding: 0px;
  }
  .padding-5 {
    padding: 5px;
  }
  .padding-10 {
    padding: 5px;
  }
  .padding-15 {
    padding: 5px;
  }
}

.masonry-gallery {
  width: 100%;
  margin: 0 auto 50px auto;
}

.masonry-gallery .masonry-pattern-1 {
  position: relative;
  width: 50%;
  height: 0;
  padding: 5px 5px 0 5px;
  padding-bottom: 30%;
  overflow: hidden;
  float: left;
  cursor: pointer;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.masonry-gallery .masonry-pattern-1 img {
  width: 100%;
}

.masonry-gallery .masonry-pattern-1 .flip-btm {
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 10px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 15px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: perspective(300px) rotateX(90deg);
  -o-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;
  -webkit-transition: 0.5s;
  text-align: center;
}

.masonry-gallery .masonry-pattern-1 .flip-btm .discount-price .text-info {
  display: inline;
}

.masonry-gallery .masonry-pattern-1 .flip-btm h3 {
  margin-top: 20%;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.masonry-gallery .masonry-pattern-1 .flip-btm h3 span {
  display: block;
}

.masonry-gallery .masonry-pattern-1 .flip-btm h3 .current-price {
  font-size: 30px;
}

.masonry-gallery .masonry-pattern-1 .inline-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  text-shadow: 0px 0px 8px black;
  color: white;
}

.masonry-gallery .masonry-pattern-1 .inline-title h3 {
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.masonry-gallery .masonry-pattern-1 .inline-title h3 span {
  display: block;
}

.masonry-gallery .masonry-pattern-1:hover .inline-title {
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.masonry-gallery .masonry-pattern-1:hover .flip-btm {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

@media only screen and (max-width: 600px) {
  .masonry-gallery .masonry-pattern-1 {
    width: 100%;
    padding-bottom: 80%;
  }
}

.masonry-gallery .masonry-pattern-2 {
  width: 25%;
  height: 0;
  padding: 5px;
  padding-bottom: 25%;
  overflow: hidden;
  float: left;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.masonry-gallery .masonry-pattern-2 img {
  width: 100%;
}

.masonry-gallery .masonry-pattern-2 .flip-btm {
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 10px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 15px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: perspective(300px) rotateX(90deg);
  -o-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;
  -webkit-transition: 0.5s;
  text-align: center;
}

.masonry-gallery .masonry-pattern-2 .flip-btm .discount-price .text-info {
  display: inline;
}

.masonry-gallery .masonry-pattern-2 .flip-btm h3 {
  font-weight: normal;
  margin-top: 20%;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.masonry-gallery .masonry-pattern-2 .flip-btm h3 span {
  display: block;
}

.masonry-gallery .masonry-pattern-2 .flip-btm h3 .current-price {
  font-size: 30px;
}

.masonry-gallery .masonry-pattern-2 .inline-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  text-shadow: 0px 0px 8px black;
  color: white;
}

.masonry-gallery .masonry-pattern-2 .inline-title h3 {
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.masonry-gallery .masonry-pattern-2 .inline-title h3 span {
  display: block;
}

.masonry-gallery .masonry-pattern-2:hover .inline-title {
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.masonry-gallery .masonry-pattern-2:hover .flip-btm {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

@media only screen and (max-width: 600px) {
  .masonry-gallery .masonry-pattern-2 {
    width: 100%;
    padding-bottom: 80%;
  }
}

.masonry-gallery .balance-height {
  margin-top: -25%;
  padding: 0 5px 25% 5px;
}

@media only screen and (max-width: 600px) {
  .masonry-gallery .balance-height {
    margin-top: 0;
    padding: 0 5px 80% 5px;
  }
}

header {
  width: 100%;
  margin: auto;
}

header .logo-wrapper {
  width: 100%;
}

header .logo-wrapper .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 10px auto;
  border-radius: 50%;
  font-family: 'Great Vibes', cursive;
  color: black;
  font-size: 60px;
}

header nav {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

header nav .navbar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  list-style-type: none;
}

header nav .navbar li {
  float: left;
}

header nav .navbar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-family: "Architects Daughter", cursive;
}

header nav .navbar li a:hover {
  color: #f5f5f5;
  background: black;
}

footer {
  width: 100%;
  margin: 10px auto;
}

footer .inner-footer {
  width: 100%;
  padding: 20px;
  border-top: 2px solid black;
}

footer .inner-footer .contact-section {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

footer .inner-footer .contact-section h3 {
  font-size: 40px;
  font-weight: normal;
  font-family: 'Great Vibes', cursive;
}

footer .inner-footer .contact-section p {
  font-size: 20px;
  font-family: "Architects Daughter", cursive;
}

.social-media {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.social-media i {
  font-size: 1.25rem;
  cursor: pointer;
}

.social-media .fa-facebook-square:hover {
  color: #3578e5;
}

.social-media .fa-instagram:hover {
  color: #f77737;
}

.social-media .fa-twitter-square:hover {
  color: #1da1f2;
}

.product-display-block {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 20px;
}

.product-display-block .product-wrapper {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-display-block .product-wrapper .product {
  text-align: center;
  background: transparent;
}

.product-display-block .product-wrapper .product .product-img-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.product-display-block .product-wrapper .product .product-img-wrapper img {
  width: 100%;
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

.product-display-block .product-wrapper .product .product-info {
  padding: 10px;
}

.product-display-block .product-wrapper .product .product-info h2 {
  margin: 6px 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.product-display-block .product-wrapper .product .product-info p {
  margin: 3px 0;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.product-display-block .product-wrapper .product .product-info .discount-price {
  font-size: 14px;
  font-weight: 200;
}

.product-display-block .product-wrapper .product .product-info button {
  visibility: hidden;
  margin-top: 10px;
}

.product-display-block .product-wrapper .product:hover {
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.product-display-block .product-wrapper .product:hover button {
  visibility: visible;
}

.product-display-block .product-wrapper .product:hover .product-img-wrapper img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.headings h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Great Vibes', cursive;
}

.headings .border-botom {
  border-bottom: 2px solid black;
}

.headings .line {
  display: block;
  margin-top: 20px;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 800px) {
  .headings .line {
    margin-top: 0;
  }
}

.categories-block {
  width: 100%;
  padding: 15px 15px 40px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

@media only screen and (max-width: 600px) {
  .categories-block {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.categories-block .category-block {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
  /* Hover state - trigger effect */
  /* Active state */
}

.categories-block .category-block:after {
  content: '';
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.categories-block .category-block:hover:after {
  opacity: 1;
  left: 130%;
  -webkit-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
          transition-duration: 0.7s, 0.7s, 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.categories-block .category-block:active:after {
  opacity: 0;
}

.categories-block .category-block img {
  width: 100%;
  height: 100%;
}

.categories-block .category-block .category-info {
  position: absolute;
  display: block;
  top: 40%;
}

.categories-block .category-block .category-info h2 {
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 0px 0px 10px black;
  opacity: 0.9;
  font-size: 35px;
  text-align: center;
}

.categories-block .category-block:hover {
  opacity: 0.8;
}

.about-us-block {
  width: 100%;
  padding: 20px 40px;
}

.about-us-block p {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  color: #3d3d3d;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */