@import './constant.scss';
@import './common.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

@mixin masonry-img-transistion {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

@mixin masnory-flip-btm {
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 10px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 15px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: perspective(300px) rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform-origin: 50% 100% 0;
  -webkit-transition: 0.5s;
  text-align: center;
}

@mixin masnory-flip-btm-hover {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

@mixin inline-title {
  .inline-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    text-shadow: 0px 0px 8px black;
    color: white;

    h3 {
      font-weight: normal;
      font-family: $mansoryTitleFont;
      font-size: $mansoryTitleFontSize;

      span {
        display: block;
      }
    }
  }

  &:hover .inline-title {
    visibility: hidden;
    transition: all 0.2s ease-out;
  }
}

.masonry-gallery {
  // background: $masonryGalleryBg;
  width: 100%;
  margin: 0 auto 50px auto;

  .masonry-pattern-1 {
    position: relative;
    width: 50%;
    height: 0;
    padding: 5px 5px 0 5px;
    padding-bottom: 30%;
    overflow: hidden;
    float: left;
    cursor: pointer;
    @include masonry-img-transistion;

    img {
      width: 100%;
    }

    .flip-btm {
      @include masnory-flip-btm;

      .discount-price {
        .text-info {
          display: inline;
        }
      }

      h3 {
        margin-top: 20%;
        font-weight: normal;
        font-family: $mansoryTitleFont;
        font-size: $mansoryTitleFontSize;

        span {
          display: block;
        }

        .current-price {
          font-size: $mgCurrentPriceSize;
        }
      }
    }

    @include inline-title;

    &:hover .flip-btm {
      @include masnory-flip-btm-hover;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-bottom: 80%;
    }
  }

  .masonry-pattern-2 {
    width: 25%;
    height: 0;
    padding: 5px;
    padding-bottom: 25%;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    @include masonry-img-transistion;

    img {
      width: 100%;
    }

    .flip-btm {
      @include masnory-flip-btm;

      .discount-price {
        .text-info {
          display: inline;
        }
      }

      h3 {
        font-weight: normal;
        margin-top: 20%;
        font-family: $mansoryTitleFont;
        font-size: $mansoryTitleFontSize;

        span {
          display: block;
        }

        .current-price {
          font-size: $mgCurrentPriceSize;
        }
      }
    }

    @include inline-title;

    &:hover .flip-btm {
      @include masnory-flip-btm-hover;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-bottom: 80%;
    }
  }

  .balance-height {
    margin-top: -25%;
    padding: 0 5px 25% 5px;

    @media only screen and (max-width: 600px) {
      margin-top: 0;
      padding: 0 5px 80% 5px;
    }
  }
}

header {
  width: 100%;
  margin: auto;

  .logo-wrapper {
    width: 100%;

    .logo {
      width: fit-content;
      margin: 30px auto 10px auto;
      border-radius: 50%;
      font-family: 'Great Vibes', cursive;
      color: $logoTextColor;
      font-size: 60px;
    }
  }

  nav {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .navbar {
      width: fit-content;
      margin: auto;
      list-style-type: none;

      li {
        float: left;

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: $menuTextColor;
          font-family: $navBarFont;

          &:hover {
            color: $menuHovercolor;
            background: $menuHoverBg;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  margin: 10px auto;

  .inner-footer {
    width: 100%;
    padding: 20px;
    border-top: 2px solid black;
    // border-bottom: 2px solid black;

    .contact-section {
      margin: auto;
      width: fit-content;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: normal;
        font-family: 'Great Vibes', cursive;
      }

      p {
        font-size: 20px;
        font-family: $navBarFont;
      }
    }
  }
}

.social-media {
  padding: 10px;
  width: fit-content;
  margin: auto;

  i {
    font-size: 1.25rem;
    cursor: pointer;
  }

  .fa-facebook-square {
    &:hover {
      color: #3578e5;
    }
  }

  .fa-instagram {
    &:hover {
      color: #f77737;
    }
  }

  .fa-twitter-square {
    &:hover {
      color: rgba(29, 161, 242, 1);
    }
  }
}

.product-display-block {
  padding: 15px;
  display: grid;
  // grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 20px;

  .product-wrapper {
    padding: 0;
    width: 100%;
    display: flex;

    .product {
      text-align: center;
      background: transparent;

      .product-img-wrapper {
        width: 100%;
        height: 250px;
        overflow: hidden;

        img {
          width: 100%;
          opacity: 0.95;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale3d(1.05, 1.05, 1);
          transform: scale3d(1.05, 1.05, 1);
        }
      }

      .product-info {
        padding: 10px;

        h2 {
          margin: 6px 0;
          text-align: left;
          font-size: 16px;
          font-weight: normal;
          font-family: $regularFontFamily;
        }

        p {
          margin: 3px 0;
          text-align: left;
          font-size: 18px;
          font-weight: normal;
          font-family: $regularFontFamily;
        }

        .discount-price {
          font-size: 14px;
          font-weight: 200;
        }

        button {
          visibility: hidden;
          margin-top: 10px;
        }
      }

      &:hover {
        cursor: pointer;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
        transition: all 0.2s ease-out;

        button {
          visibility: visible;
        }

        .product-img-wrapper {
          img {
            opacity: 0.6;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
        }
      }
    }
  }
}

.headings {
  h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
  }

  .border-botom {
    border-bottom: 2px solid black;
  }

  .line {
    display: block;
    margin-top: 20px;
    border-bottom: 2px solid black;

    @media only screen and (max-width: 8ate00px) {
      margin-top: 0;
    }
  }
}

.categories-block {
  width: 100%;
  padding: 15px 15px 40px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .category-block {
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: -50%;
      left: -60%;
      width: 20%;
      height: 200%;
      opacity: 0;
      transform: rotate(38deg);

      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    /* Hover state - trigger effect */
    &:hover:after {
      opacity: 1;
      left: 130%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }

    /* Active state */
    &:active:after {
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .category-info {
      position: absolute;
      display: block;
      top: 40%;

      h2 {
        font-family: $regularFontFamily;
        color: white;
        text-shadow: 0px 0px 10px black;
        opacity: 0.9;
        font-size: 35px;
        text-align: center;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.about-us-block {
  width: 100%;
  padding: 20px 40px;

  p {
    font-family: $regularFontFamily;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: $regularTextColor;
    margin: 10px 0;
  }
}
