@import './constant.scss';
@import './common.scss';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

@mixin masonry-img-transistion {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

@mixin masnory-flip-btm {
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 10px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 15px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: perspective(300px) rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform-origin: 50% 100% 0;
  -webkit-transition: 0.5s;
  text-align: center;
}

@mixin masnory-flip-btm-hover {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

.masonry-gallery {
  // background: $masonryGalleryBg;
  width: 80%;
  margin: 50px auto;

  .masonry-pattern-1 {
    position: relative;
    width: 50%;
    height: 0;
    padding: 5px 5px 0 5px;
    padding-bottom: 30%;
    overflow: hidden;
    float: left;
    cursor: pointer;
    @include masonry-img-transistion;

    img {
      width: 100%;
    }

    .flip-btm {
      @include masnory-flip-btm;

      h3 {
        margin-top: 20%;
        font-family: $mansoryTitleFont;
        font-size: $mansoryTitleFontSize;

        span {
          display: block;
        }
      }
    }

    &:hover .flip-btm {
      @include masnory-flip-btm-hover;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-bottom: 80%;
    }
  }

  .masonry-pattern-2 {
    width: 25%;
    height: 0;
    padding: 5px;
    padding-bottom: 25%;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    @include masonry-img-transistion;

    img {
      width: 100%;
    }

    .flip-btm {
      @include masnory-flip-btm;

      h3 {
        margin-top: 20%;
        font-family: $mansoryTitleFont;
        font-size: $mansoryTitleFontSize;

        span {
          display: block;
        }
      }
    }

    &:hover .flip-btm {
      @include masnory-flip-btm-hover;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-bottom: 80%;
    }
  }

  .balance-height {
    margin-top: -25%;
    padding: 0 5px 25% 5px;

    @media only screen and (max-width: 600px) {
      margin-top: 0;
      padding: 0 5px 80% 5px;
    }
  }
}

header {
  width: 80%;
  margin: auto;

  .logo-wrapper {
    width: 100%;

    .logo {
      width: fit-content;
      margin: 30px auto 10px auto;
      border-radius: 50%;
      font-family: 'Great Vibes', cursive;
      color: $logoTextColor;
      font-size: 60px;
    }
  }

  nav {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .navbar {
      width: fit-content;
      margin: auto;
      list-style-type: none;

      li {
        float: left;

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: $menuTextColor;
          font-family: 'Architects Daughter', cursive;

          &:hover {
            color: $menuHovercolor;
            background: $menuHoverBg;
          }
        }
      }
    }
  }
}

footer {
  width: 80%;
  margin: 10px auto;

  .inner-footer {
    width: 100%;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .contact-section {
      margin: auto;
      width: fit-content;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: normal;
        font-family: 'Great Vibes', cursive;
      }

      p {
        font-size: 20px;
        font-family: 'Architects Daughter', cursive;
      }
    }
  }
}
